.topbar {
  background-color: #344466;
  color: #d8d9da;
  overflow: hidden;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.3rem;
  border-radius: 5px;
}
